<!DOCTYPE HTML>
<html>

<form method="post" enctype="multipart/form-data" action="/createEvent/">
{% csrf_token %}

    Event Name:<br>
    <input type="text" name="eventname">
    <br>

    Location:<br>
    <input type="text" name="location">
    <br>

    <!-- Start Date:<br>
    <input type="date" name="startdate">
    <br> -->

    Start Time:<br>
    <input type="datetime-local" name="starttime">
    <br>
<!--
    End Date:<br>
    <input type="date" name="enddate">
    <br> -->

    End Time:<br>
    <input type="datetime-local" name="endtime">
    <br>

    Description:<br>
    <input type="text" name="description">
    <br>

    <!-- Other Input2:<br>
    <input type="text" name="oi2">
    <br> -->

    <input type="submit" value="ok">




</form>

</html>
